<form action="/square_root/results">
  <div><label for="10">Enter a number</label></div>
  <div><input id="10" type="text" placeholder="What number do you want to take the square root of" name = "calculated"> </input></div>
<button>Calculate square root</button>
</form>
