<form action="/square/results">
  <div><label for="10">Enter a number</label></div>
  <div><input id="10" type="text" placeholder="What number do you want to square" name = "calculated"> </input></div>
<button>Calculate square</button>
</form>
