<h1>howdy</h1>

<form>
  <label for="10">Enter a number</label>
  <input id="10" type="text" placeholder="What number do you want to square" name = "calculated"> </input>

  <button>Calculate square</button>
</form>